// Colors
$primary-color: #181818;
$secondary-color: rgb(247, 236, 216);
$tertiary-color: rgb(161, 19, 19);
$dark-color: #181818;;
$light-color: #f9f9f9;
$background-color-white: #f8f8f8;
$nav-background-hover:rgba(255, 255, 255, 0.247);
$button-background-hover: rgba(255, 255, 255, 0.247);;
$section-background-hover: rgba(177, 162, 77, 0.356);
$grey-filter-gradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

// Fonts
$main-fonts: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;